body {
  background: cornflowerblue;
}

.war {
  text-align: center;
  font-size: 75px;
  color: red;
}

.cardBoxes {
  display: flex;
  justify-content: space-around;
}

.firstBox, .secondBox {
  text-align: center;
}

.card {
  margin: 50px;
  vertical-align: top;
}

.deal {
  text-align: center;
  margin-bottom: 50px;
}

.winner {
  text-align: center;
  font-size: 30px;
  color: gold;
}
